html {
  font-family: sans-serif;
}

body {
  margin: 3rem auto;
  width: min(36rem, 100% - 3rem);
}

header {
  margin-bottom: 3rem;
}

h1 {
  font-weight: normal;
}

p {
  line-height: 1.3;
}

code {
  font-family: monospace;
}

.example {
  margin-bottom: 3rem;
}

.note,
.warning {
  background-color: #efefef;
  border-left: 0.25rem solid #00c;
  font-size: 0.75rem;
  padding: 0.5rem 0.75rem;
}

.warning {
  border-color: #f00;
}

moby-dick {
  display: block;
  margin-top: 1.5rem;
}

remote-template {
  border: 0.125rem dashed #dedede;
  display: block;
  padding: 1rem;
  position: relative;

  &::after {
    background-color: #dedede;
    color: #333;
    content: "<remote-template>";
    font-family: monospace;
    font-size: 0.75rem;
    left: -0.125rem;
    padding: 0.25rem 0.5rem;
    position: absolute;
    top: -0.125rem;
  }
}
